target
.sass-cache
.mvn
node_modules
src/main/resources/static/assets/images/Iconr
src/main/resources/static/assets/scripts/fonts/Iconr
src/main/resources/static/assets/scripts/html5shiv/Iconr
src/main/resources/static/assets/scripts/jquery/Iconr
src/main/resources/static/assets/scripts/masonry/Iconr
src/main/resources/static/assets/scripts/mghlcs/Iconr
src/main/resources/static/assets/scripts/modernizr/Iconr
src/main/resources/static/assets/scripts/respond/Iconr
src/main/resources/static/assets/scripts/Iconr
src/main/resources/static/assets/Iconr
src/main/resources/static/Iconr
