<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
	
<script th:src="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>
<script th:src="@{/assets/scripts/modernizr/modernizr.js}"></script>
<script th:src="@{/assets/styles/bootstrap/scripts/bootstrap.js}"></script>
<!--<script th:src="@{/assets/custom/bootstrap-typeahead/bootstrap3-typeahead.min.js}"></script>-->
<script th:src="@{/assets/custom/bootstrap-typeahead/typeahead.bundle.min.js}"></script>
<script th:src="@{/assets/scripts/masonry/masonry.pkgd.js}"></script>
<script th:src="@{/assets/scripts/mghlcs/common.js}"></script>
<script th:src="@{/assets/scripts/idletimer/jquery.idletimer.js}"></script>
<script th:src="@{/assets/scripts/idletimer/jquery.idletimeout.js}"></script>
<script src="https://use.typekit.net/jkg8mlb.js"></script>

<script>try{Typekit.load({ async: true });}catch(e){}</script>
<!--<div th:replace="layouts/default/fragments/angularjs"></div>-->
<!---->
<!--<script th:src='@{/apps/angularjs/app/searchWidget/searchWidgetApp.js}' />-->